include LICENSE
exclude pyproject.toml
recursive-include src *.h *.hpp
recursive-include cscore_src/cscore/src/main/native *.cpp *.h
exclude cscore_src/cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
include cscore_src/cscore/src/main/native/include/*.inc
recursive-include cscore_src/wpiutil/src/main/native *.cpp *.h
exclude cscore_src/wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
exclude cscore_src/wpiutil/src/main/native/cpp/PortForwarder.cpp
recursive-include cscore_src/wpiutil/src/main/native/include *.hpp *.inc
recursive-include pybind11/include *.h
include pybind11/LICENSE
