include LICENSE
exclude pyproject.toml
recursive-include src *.h *.hpp
recursive-include cscore_src/cscore/src/main/native *.cpp *.h
include cscore_src/cscore/src/main/native/include/*.inc
recursive-include cscore_src/wpiutil/src/main/native *.cpp *.h
recursive-include cscore_src/wpiutil/src/main/native/include *.hpp *.inc
recursive-include pybind11/include *.h
include pybind11/LICENSE
